* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.ctabg {
  background: url("../assets/images/cta-image.png") center/cover no-repeat;
  height: 40rem;
}
